*{
    margin: 0;
    padding: 0;
}
body {
    background-color: teal;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 600px;
    height: 600px;
    background-color: white;
}
